<header class="app-header">
  <div class="header">
    <div class="container">
      <div class="top-bar">
        <div class="login-btn">
          <a routerLink="/login">Đăng nhập</a>
        </div>
      </div>
      <div class="header-main">
        <div class="logo">
          <a routerLink="/">
            <img src="assets/images/logo-white.png" alt="logo" />
          </a>
        </div>
        <div class="search">
          <input
            type="text"
            name=""
            id=""
            placeholder="Tìm kiếm..."
            class="search__input"
          />
          <button type="submit" class="search__button" tabIndex="-1">
            Search
          </button>
        </div>
        <div class="actions">
          <a routerLink="/wishlist">
            <i class="fal fa-heart"></i>
            <span>02</span>
          </a>
          <a routerLink="/cart">
            <i class="fal fa-shopping-cart"></i>
            <span>02</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bar">
    <div class="left-nav">
      <i class="fal fa-line-columns"></i>
      <span>Danh mục</span>
      <i class="fal fa-angle-down"></i>
    </div>
    <div class="main-menu">
      <ul>
        <li>
          Trang chủ <span><i class="fal fa-angle-down"></i></span>
        </li>
        <li>
          Sản phẩm <span><i class="fal fa-angle-down"></i></span>
        </li>
        <li>
          Ưa thích <span><i class="fal fa-angle-down"></i></span>
        </li>
        <li>
          Liên hệ <span><i class="fal fa-angle-down"></i></span>
        </li>
        <li>
          Về chúng tôi <span><i class="fal fa-angle-down"></i></span>
        </li>
      </ul>
    </div>
    <div class="right-nav">
      <p>Siêu khuyến mãi lên tới <span>30%</span></p>
    </div>
  </div>
</header>
